body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

#spotify {
    grid-column: 2;
    grid-row: 1 / span 2; /* top right, tall */
    width: 100%;
    height: 380px;
    border-radius: 12px;
}